.box1 {
  background-color: rgba(225, 0, 0, 0.5);
  width: 100px;
  height: 100px;
  
}
.box2 {
  background-color: skyblue;
  width: 100px;
  height: 100px;
  /* position: static; */
  /* position: relative; */
  position: fixed;
  top: 30px;
  left: 30px;
  
}
.box3 {
  background-color: tomato;
  width: 100px;
  height: 100px;
  
}
.box4 {
  background-color: tomato;

}