.box1 {
  background-color: rgba(225, 0, 0, 0.5);
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
.box2 {
  background-color: skyblue;
  margin-top: 10px;
}
.box3 {
  background-color: tomato;
}
.box4 {
  background-color: tomato;
  width: 50%;
  height: 50%;
}