.box1 {
  background-color: rgba(225, 0, 0, 0.5);
  /* width: 100px; */
  width: calc((100% - 40px) / 3);
  height: 100px;
}

.box2 {
  background-color: skyblue;
  /* width: 100px; */
  height: 100px;
  margin: 0 auto;
  width: calc((100% - 40px) / 3);
}
.box3 {
  background-color: tomato;
  /* width: 100px; */
  height: 100px;
  margin-left: auto;
  width: calc((100% - 40px) / 3);
}
